# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
*.egg-info/
dist/
build/

# Node
node_modules/
.next/
.npm/
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.sqlite3
*.db
*.db-journal

# Env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
